---
import Layout from '../layouts/Layout.astro';

import SectionContainer from '../components/SectionContainer.astro';
import Navbar from '../components/Navbar.astro';
import Carousel from '../components/Carousel.astro';
import Titles from '../components/Titles.astro';
import Buttons from '../components/Buttons.astro';
import CreaTuPizza from '../components/CreaTuPizza.astro';
---

<Layout title='Roller Pizza' description='disfruta de las mejores pizzas de todo madrid'>
	<main>
		<SectionContainer id="top" class="flex gap-64 mt-4 flex-row">
			<div class="flex justify-start">
				<img
					class="w-30 h-12" 
					alt="juanjo foto" 
					src="/public/images/logo/rojo-negro.png"
				/>
			</div>
			<div class="gap-x-4">
				<Navbar />		
			</div>
		</SectionContainer>
		<Carousel class="flex flex-row "/>
		<SectionContainer class="gap-y-10" >
			<Titles title="NUESTRO MENU"/>
		</SectionContainer>
		<SectionContainer>
			<Buttons/>
		</SectionContainer>
		<CreaTuPizza id="menu"/>
	</main>
</Layout>
