---
import InstagramIcon from './icons/InstagramIcon.astro'
import FacebookIcon from './icons/FacebookIcon.astro'
---


<div class="w-[700px] h-[500px] mx-auto">
    <h2 class="text-2xl text-white font-semibold text-center mb-5">SOBRE NOSOTROS</h2>
    <div class="border border-slate-600 p-10 rounded-lg shadow-2xl">
        <p class="items-center flex justify-center text-white">
            Rollerpizza es una pizzeria formada en 2014 por unas personas con años de experiencia
            en el sector, que juntan su conocimiento para hacer una pizza como las de antes, con 
            un sabor natural y ese “algo” que parece haberse perdido.
        </p>
        <h2 class="text-2xl font-semibold mt-10 text-center text-white">REDES</h2>
        <div class="flex justify-center">
            <div class="shadow-xl bg-[#e1306c] p-2 rounded-full w-10 h-10 flex items-center justify-center mx-5 mt-5">
                <InstagramIcon/>
            </div>
            <div class="shadow-xl bg-[#3b5998] p-2 rounded-full w-10 h-10 flex items-center justify-center mx-5 mt-5">
                <FacebookIcon class="text-white"/>
            </div>
        </div>
    </div>
</div>