<div class="mt-16 flex justify-center space-x-4">
    <button class="border border-[#fac564] bg-[#fac564] hover:bg-white text-black  hover:text-[#fac564] transition py-2 px-4 rounded">
        Haz tu Pizza
    </button>
    <button class="border border-[#fac564] bg-[#fac564] hover:bg-white text-black  hover:text-[#fac564] transition py-2 px-4 rounded">
        Pizza
    </button>
    <button class="border border-[#fac564] bg-[#fac564] hover:bg-white text-black  hover:text-[#fac564] transition py-2 px-4 rounded">
        Entrantes y Postres
    </button>
    <button class="border border-[#fac564] bg-[#fac564] hover:bg-white text-black  hover:text-[#fac564] transition py-2 px-4 rounded">
        Bebidas
    </button>
</div>

<a href="alergenos/alergenos.pdf" target="_blank">
    <div class="bg-[#fac564] text-black text-center py-2 mt-10 border border-[#fac564] hover:bg-white hover:text-[#fac564] transition rounded">
        El listado completo de alergenos está disponible pinchando aquí
    </div>
</a>