
<h2 class="text-center text-[#fac564] text-xl font-semibold pt-2">
    Fina
</h2>
<h2 class="text-center text-[#fac564] text-xl font-semibold pt-2">
    Normal
</h2>
<h2 class="text-center text-[#fac564] text-xl font-semibold pt-2">
    Roller
</h2>
<h2 class="text-center text-[#ffffff] text-xl font-semibold pt-2">
    Bordes crujientes
</h2>
<h2 class="text-center text-[#ffffff] text-xl font-semibold pt-2">
    Estilo tradicional
</h2>
<h2 class="text-center text-[#ffffff] text-xl font-semibold pt-2">
    Bordes de queso
</h2>