---
import MasaSize from "./MasaSize.astro"
import Pizza from "./Pizza.astro"
import TitleSelectYourPizza from "./TitleSelectYourPizza.astro"
import ChooseYourMass from "./ChooseYourMass.astro"
import ClasicButton from "./ClasicButton.astro"
import PremiunButton from "./PremiunButton.astro"
import Ingredientes from "./Ingredientes.astro"



const{id}=Astro.props
---

<div id={id} class="grid grid-cols-1 lg:grid-cols-3 gap-4 mx-5 md:mx-20 mt-10">
    <!-- Contenedor principal -->
    <div class="col-span-3 bg-gray-900 rounded-xl p-5">
        <div class="w-full flex justify-center">
            <TitleSelectYourPizza class="text-[#fac564]" title="PRECIOS A DOMICILIO"/>
        </div>
        <!-- Sección de precios -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-5">
            <!-- Medianas -->
            <div class="flex flex-col items-center">
                <TitleSelectYourPizza class="text-[#fac564]" title="Medianas"/>
                <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mt-3">
                    <Pizza Quantity="1" precio="10,45€"/>
                    <Pizza Quantity="2" precio="17,95€"/>
                    <Pizza Quantity="3" precio="23,00€"/>
                </div>
            </div>
            
            <!-- Familiares -->
            <div class="flex flex-col items-center">
                <TitleSelectYourPizza class="text-[#fac564]" title="Familiares"/>
                <div class="grid grid-cols-3 gap-4 mt-3">
                    <Pizza Quantity="1" precio="16,45€"/>
                    <Pizza Quantity="2" precio="27,95€"/>
                    <Pizza Quantity="3" precio="38,00€"/>
                </div>
            </div>
            
        </div>

        <!-- Textos informativos -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
            <h2 class="text-center text-white text-md font-semibold">
                Realizamos reparto a domicilio en Humanes y Moraleja de Enmedio con un suplemento de 3€ por pedido.
            </h2>
            <h2 class="text-center text-white text-md font-semibold">
                Realizar estos pedidos en nuestra tienda de Fuenlabrada 2.
            </h2>
        </div>
    </div>
    
    <!-- Sección Tamaño -->
    <div class="bg-gray-900 rounded-xl p-5 lg:col-span-1 md:col-span-3 sm:col-span-3">
        <div class="w-full flex justify-center">
            <TitleSelectYourPizza class="text-[#fac564]" title="ESCOGE EL TAMAÑO"/>
        </div>
        <MasaSize/>
    </div>

    <!-- Sección Masa -->
    <div class="bg-gray-900 rounded-xl p-5 lg:col-span-2 md:col-span-3 sm:col-span-3">
        <div class="w-full flex justify-center">
            <TitleSelectYourPizza class="text-[#fac564]" title="ESCOGE TU MASA"/>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            <ChooseYourMass/>
        </div>
        <div class="mt-4 -mb-3 rounded-lg border-t border-gray-700 bg-gray-800 mx-auto">
            <h2 class="text-center text-[#ffffff] text-md font-semibold">
                Masa Rollers: Mediana +1,5€ | Familiar +2€
            </h2>
        </div>
    </div>

    <!-- Sección Ingredientes -->
    <div class="col-span-3 bg-gray-900 rounded-xl p-5">
        <div class="w-full flex justify-center">
            <TitleSelectYourPizza class="text-[#fac564]" title="ESCOGE TUS INGREDIENTES"/>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div class="lg:col-span-1 md:col-span-2 sm:col-span-2">
                <ClasicButton/>
                <Ingredientes title="SALSAS" ingredientes="Tomate con orégano, barbacoa, carbonara, mejicana"/>
                <Ingredientes title="CARNES" ingredientes="Jamon de york, Pollo a la parrilla, Ternera, Pepperoni, Salchichas y Ternera kebab"/>
                <Ingredientes title="PESCADOS" ingredientes="Atun y Anchoas"/>
                <Ingredientes title="VEGETALES" ingredientes="Champiñon, Piña, Maiz, Tomate natural, Cebolla, Cebolla crujiente, Cebolla caramelizada, Pimiento, Aceitunas negras y Jalapeños"/>
                <Ingredientes title="QUESOS" ingredientes="Mozzarela, Queso de cabra y 4 Quesos"/>
            </div>
            <div class="lg:col-span-1 md:col-span-2 sm:col-span-2">
                <PremiunButton/>
                <Ingredientes title="SALSAS" ingredientes="Emmy, Ranchera, Burguer, Miel y Mostaza"/>
                <Ingredientes title="CARNES" ingredientes="Pulled pork, Bacon crispy"/>
            </div>
        </div>
    </div>
</div>