---
import About from './About.astro';
import Form from './Form.astro';
import Copyright from './Copyright.astro';
---

<footer class="bg-gray-800 py-10 mt-8 ">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <Form/>
        <About/>
    </div>
    <Copyright/>
</footer>