---
import About from './About.astro';
import Form from './Form.astro';
import Copyright from './Copyright.astro';
---

<footer class="bg-gray-800 py-10 mt-8 ">
    <div class="container mx-auto">
        <!--<Form/>-->
        <About/>
    </div>
    <Copyright/>
</footer>