---
interface Props {
    ingredientes: string;
    title: string;
}

const { ingredientes, title } = Astro.props
---
<div class="mt-5 p-4">
    <h2 class="text-2xl text-center font-semibold text-[#fac564]">
        {title}
    </h2>
    <p class="text-center mt-1 text-white text-xl">
        {ingredientes}
    </p>
</div>