---
import Maps from "./Maps.astro";
import Timetable from "./Timetable.astro";
import Address from "./Address.astro";
---

<div class="mt-16 bg-black grid grid-cols-3 gap-10">
    <div class="flex justify-center col-span-2 mt-8">
        <h1 class="text-2xl text-white font-semibold">ENCUENTRA TU TIENDA</h1>
    </div>
    <div class="bg-[#fac564] row-span-3">
        <Timetable class="mt-24"/>
    </div>
    <Maps class="ml-7" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30461.530180252787!2d-3.831787!3d40.298331!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418c70ee3c1bef%3A0xb3d2e6c28a65d5a4!2sAv.%20de%20Nuevo%20Versalles%2C%20208%2C%2028942%20Fuenlabrada%2C%20Madrid%2C%20Spain!5e1!3m2!1sen!2sng!4v1736891951536!5m2!1sen!2sng"/>
    <Maps class="ml-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30467.659191715662!2d-3.8186239969503273!3d40.2847347126933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418b58bb2aad31%3A0x5b58fdb198c53638!2sRoller%20Pizza%20Fuenlabrada!5e1!3m2!1sen!2sng!4v1736884935461!5m2!1sen!2sng"/>
    <div class="ml-5">
        <Address title="LORANCA" body="Urbanización Loranca Calle, Av. de Nuevo Versalles, 208, 28942 Fuenlabrada, Madrid, Spain"/>
    </div>
    <div class="ml-7">
        <Address title="FUENLABRADA" body="Calle Portugal 33, local 401 (Junto a INSS) Fuenlabrada, Madrid." class="mt-11 mb-5"/>
    </div>    
</div>