---
const { 
    class: className,
    src, 
    width = "90%", 
    height = "300" 
} = Astro.props
---

<div class={`${className}`}>    
    <iframe src={src} 
        width={width} 
        height={height} 
        style="border:0; border-radius: 10px;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>
</div>