---
const { class: ClassName} = Astro.props;
---

<div class=`${ClassName} grid grid-cols-2`>
    <div>
        <h2 class="text-center text-[#fac564] text-xl font-semibold pt-2">
            Mediana 
        </h2>
    </div>
    <div>
        <h2 class="text-center text-[#fac564] text-xl font-semibold pt-2">
            Familiar
        </h2>
    </div>
    <div>
        <h2 class="text-center text-[#ffffff] text-lg font-semibold pt-2">
            30cm 
        </h2>
    </div>
    <div>
        <h2 class="text-center text-[#ffffff] text-lg font-semibold pt-2">
            40cm
        </h2>
    </div>
</div>