
<header class="flex justify-end py-5 w-1140px mx-auto">
	<nav class="flex flex-row gap-x-10 font-semibold">
		<a href="#top">Inicio</a>
		<a href="#menu">Menú</a>
		<a href="#timetable">Horarios</a>
		<a href="#timetable">Donde Estamos</a>
		<a href="#contact">Contacto</a>
	</nav>
</header>