
<header class="flex justify-end py-5 w-1120px mx-auto">
	<nav class="flex flex-row gap-x-10 font-semibold">
		<a href="#top">Inicio</a>
		<a href="#menu">Menú</a>
		<a href="#timetable">Horarios</a>
		<a href="#where">Donde estamos</a>
		<a href="#contact">Contact</a>
	</nav>
</header>