---
interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content={description}/>
		<link rel="icon" type="image" href="/images/logo/cpanellogo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"></div>
		<div >
			<slot />
		</div>
	</body>
</html>

<style>
    body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* Estilos para móviles */
    @media (max-width: 600px) {
        main {
            padding: 10px;
        }
    }

    /* Estilos para pantallas ultra anchas */
    @media (min-width: 1600px) {
        main {
            max-width: 1400px;
        }
    }

    /* Estilos para televisores */
    @media (min-width: 1920px) {
        main {
            max-width: 1800px;
        }
    }

    /* Estilos para iPads */
    @media (min-width: 768px) and (max-width: 1024px) {
        main {
            padding: 20px;
        }
    }
</style>